{% extends "::base.html.twig" %}
{% set percent = tournament.users|length * 100 / tournament.maxPlayers %}
{% block title %}{{ parent() }} - {{ tournament.name }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="text-center">
            <h2>
                {{ tournament.datetime|date('d F Y') }}
            </h2>
            <div class="after-login" data-include="{{ path("tournamentForm", {"id": tournament.id}) }}">
                {% include "@Tournament/Default/tournament_form.html.twig" with {"tournament": tournament} only %}
            </div>
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">Tournoi {{ tournament.name }}</div>
            <div class="panel-body">
                <br>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ tournament.users|length }}"
                         aria-valuemin="0" aria-valuemax="{{ tournament.maxPlayers }}"
                         style="min-width: 2em; width: {{ percent }}%">
                        {{ tournament.users|length }}/{{ tournament.maxPlayers }} participants
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Pseudonyme</th>
                    <th>Date d'inscription</th>
                </tr>
                </thead>
                {% for user in tournament.users %}
                    <tr url="{{ path("user", {"id":user.id}) }}" style="cursor: pointer">
                        <td>
                            {% if user.granted("ROLE_ORGANISER") %}
                                <span class="label label-info">Organisateur</span>
                            {% endif %}
                            {{ user.username }}
                        </td>
                        <td>
                            {{ user.registerDate|date('d F Y') }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}