<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            AssoGolf
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    <link rel="stylesheet" href="{{ asset("css/bootstrap.css") }}">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid after-login" data-include="{{ path("nav") }}">
        {{ render(controller("TournamentBundle:Default:nav")) }}
    </div>
</nav>
{% block body %}
{% endblock %}
<script>
    var PATH_FOS_USER_SECURITY_CHECK = '{{ path("fos_user_security_check") }}';
</script>
<script src="{{ asset("js/jquery.min.js") }}"></script>
<script src="{{ asset("js/bootstrap.js") }}"></script>
<script src="{{ asset('js/login_submit.js') }}"></script>
<script src="{{ asset('js/tr_clickable.js') }}"></script>
</body>
</html>